<div class="modal-header">
  <h4 class="modal-title">
    {{ isUpdate ? "Atualizar" : "Register" }} Taxa
    {{ isUpdate ? "de " + type : "" }}
  </h4>
  <button
    type="button"
    class="btn-close"
    aria-label="Close"
    (click)="bsModalRef.hide()"
  ></button>
</div>
<div class="modal-body">
  <form [formGroup]="form">
    <!-- form container -->
    <div class="row">
      <div class="col-md-12">
        <div class="mb-3">
          <label for="name"
            >Nome Regime
            <span class="text-danger">*</span>
          </label>
          <input
            type="text"
            pInputText
            formControlName="name"
            [class.is-invalid]="submitted && form.get('name')?.errors"
            class="w-100 {{
              submitted && form.get('name')?.errors ? 'ng-invalid ng-dirty' : ''
            }}"
          />
          @if (submitted && form.get('name')?.hasError("required")) {
          <span class="text-danger"> Nome Regime é um campo obrigatório. </span>
          } @else if ( form.get('name')?.hasError("minlength") ||
          form.get('name')?.hasError("maxlength")) {
          <span class="text-danger">
            Nome Regime deve ter entre 3 e 50 caracteres.
          </span>
          }
        </div>
      </div>
      <div class="{{ isUpdate ? 'col-md-12' : 'col-md-6' }}">
        <div class="mb-3">
          <label for="valuePercent"
            >Percentagem
            <span class="text-danger">*</span>
          </label>
          <p-inputnumber
            formControlName="valuePercent"
            inputId="percent"
            suffix="%"
            [class.is-invalid]="submitted && form.get('valuePercent')?.errors"
            class="w-100 {{
              submitted && form.get('valuePercent')?.errors
                ? 'ng-invalid ng-dirty'
                : ''
            }}"
          />
          @if (submitted && form.get('valuePercent')?.hasError("required")) {
          <span class="text-danger"> Percentagem é um campo obrigatório. </span>
          } @else if ( form.get('valuePercent')?.hasError("numberRequired") ||
          form.get('valuePercent')?.hasError("rangeValueToSmall") ||
          form.get('valuePercent')?.hasError("rangeValueToBig")) {
          <span class="text-danger">
            Percentagem deve ser uma percentagem, um valor de 0 a 100.
          </span>
          }
        </div>
      </div>
      @if(!isUpdate) {
      <div class="col-md-6">
        <div class="mb-3">
          <label for="type"
            >Tipo
            <span class="text-danger">*</span>
          </label>
          <p-select
            formControlName="type"
            [options]="allTaxes"
            optionLabel="value"
            optionValue="value"
            placeholder="Selecione um tipo..."
            styleClass="w-100"
            [class.is-invalid]="submitted && form.get('type')?.errors"
            class="{{
              submitted && form.get('type')?.errors ? 'ng-invalid ng-dirty' : ''
            }}"
          />

          @if (submitted && form.get('type')?.hasError("required")) {
          <span class="text-danger">
            Tipo de taxa é um campo obrigatório.
          </span>
          }
        </div>
      </div>
      }
    </div>

    <app-error-card [errors]="errorMessages" [submitted]="submitted" />
  </form>
</div>
<div class="modal-footer">
  <!-- submit button -->
  <div class="text-end">
    <button type="button" class="btn-gray me-2" (click)="bsModalRef.hide()">
      Cancel
    </button>
    <button
      type="submit"
      class="btn-main"
      [disabled]="loading"
      (click)="onSubmit()"
    >
      @if (loading){
      <span class="spinner-border spinner-border-sm me-1"></span>
      } {{ isUpdate ? "Atualizar" : "Registar" }}
    </button>
  </div>
</div>
