@if (module$ | async; as module){
<app-title [title]="module.name" [isDropdown]="true" [menuItems]="menuItems" />

<div class="container-fluid px-0 my-4">
  <div class="accordion" id="general-info-accordion">
    <!-- GENERAL INFO ACCORDION-->
    <div class="accordion-item">
      <h2 class="accordion-header" id="heading-general-info">
        <button
          class="accordion-button fw-bold collapsed"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#general-info-content"
          aria-expanded="false"
          aria-controls="general-info-content"
        >
          <app-icon [icon]="ICONS.company" [marginEnd]="3" />
          <h5>Informações Gerais</h5>
        </button>
      </h2>
      <div
        id="general-info-content"
        class="accordion-collapse collapse"
        aria-labelledby="heading-general-info"
      >
        <div class="accordion-body">
          <div class="container-fluid px-0">
            <div class="row">
              <div class="col-md-8">
                <div class="property">
                  <strong>UFCD</strong>
                  <p class="text-break mb-0">
                    {{ module.name }}
                  </p>
                </div>
              </div>
              <div class="col-md-2">
                <div class="property">
                  <strong>Total Horas</strong>
                  <p class="text-break mb-0">{{ module.hours }} h</p>
                </div>
              </div>
              <div class="col-md-2">
                <div class="property">
                  <strong>Status</strong>
                  <p class="text-break mb-0">
                    <app-active-badge [isActive]="module.isActive" />
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- END GENERAL INFO ACCORDION -->

    <!-- COURSES ACCORDION -->
    @if(courses$ | async; as courses){
    <div class="accordion-item">
      <h2 class="accordion-header" id="heading-courses">
        <button
          class="accordion-button fw-bold collapsed"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#courses-content"
          aria-expanded="false"
          aria-controls="courses-content"
        >
          <app-icon [icon]="ICONS.book" [marginEnd]="3" />
          <h5>Cursos</h5>
          <span class="badge bg-success"
            >{{ (courses$ | async)?.length }}x</span
          >
        </button>
      </h2>
      <div
        id="courses-content"
        class="accordion-collapse collapse"
        aria-labelledby="heading-courses"
      >
        <div class="accordion-body">
          @if(courses.length > 0){
          <app-courses-table
            [courses]="(courses$ | async) ?? []"
            [loading]="false"
          />
          }
        </div>
      </div>
    </div>
    }
    <!-- END COURSES ACCORDION -->

    <!-- actions ACCORDION -->
    @if(actions$ | async; as actions){
    <div class="accordion-item">
      <h2 class="accordion-header" id="heading-actions">
        <button
          class="accordion-button fw-bold collapsed"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#actions-content"
          aria-expanded="false"
          aria-controls="actions-content"
        >
          <app-icon [icon]="ICONS.habilitation" [marginEnd]="3" />
          <h5>Ações Formação</h5>
          <span class="badge bg-success"
            >{{ (actions$ | async)?.length }}x</span
          >
        </button>
      </h2>
      <div
        id="actions-content"
        class="accordion-collapse collapse"
        aria-labelledby="heading-actions"
      >
        <div class="accordion-body">
          <app-actions-table
            [actions]="(actions$ | async) ?? []"
            [loading]="false"
          />
        </div>
      </div>
    </div>
    }
    <!-- END actions ACCORDION -->
  </div>
</div>
}
