<div class="modal-header">
  <h4 class="modal-title">Atribuir Papel</h4>
  <button
    type="button"
    class="btn-close"
    aria-label="Close"
    (click)="bsModalRef.hide()"
  ></button>
</div>
<div class="modal-body">
  <form [formGroup]="form">
    <div class="form-group">
      <div class="property">
        <strong>Nome da Pessoa</strong>
        <p class="text-break text-muted mb-0">
          {{ user.fullName }}
        </p>
      </div>
      <label for="roleInput"
        >Atribuir Papel <span class="text-danger">*</span></label
      >
      <p-multiselect
        [options]="availableRoles"
        formControlName="roleInput"
        placeholder="Selecione um ou mais papeis..."
        [maxSelectedLabels]="3"
        class="w-100"
        [showClear]="true"
      />
    </div>
  </form>
</div>
<div class="modal-footer text-end">
  <button type="button" class="btn-gray me-2" (click)="bsModalRef.hide()">
    Cancelar
  </button>
  <button type="submit" class="btn-main" (click)="onSubmit()">Atribuir</button>
</div>
