<div class="modal-header">
  <h4 class="modal-title">Registar Curso</h4>
  <button
    type="button"
    class="btn-close"
    aria-label="Close"
    (click)="bsModalRef.hide()"
  ></button>
</div>
<div class="modal-body">
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="container">
      <div class="row">
        <!-- Frame ID -->

        <div class="col-sm-12">
          <div class="mb-3">
            <label for="frameId">
              Enquadramento
              <span class="text-danger">*</span>
            </label>

            <p-select
              formControlName="frameId"
              [options]="(frames$ | async)!"
              optionLabel="program"
              optionValue="id"
              placeholder="Selecione Enquadramento"
              styleClass="w-100"
              [checkmark]="true"
            />
            @if (submitted && form.get('frameId')?.hasError("required")) {
            <span class="text-danger">
              Enquadramento é um campo obrigatório.
            </span>
            }
          </div>
        </div>

        <!-- Title -->
        <div class="col-sm-12">
          <div class="mb-3">
            <label for="title">
              Título / Nome do curso
              <span class="text-danger">*</span>
            </label>
            <input
              formControlName="title"
              type="text"
              class="form-control"
              [class.is-invalid]="submitted && form.get('title')?.errors"
            />
            @if (submitted && form.get('title')?.hasError("required")) {
            <span class="text-danger"
              >Título / Nome do curso é um campo obrigatório.</span
            >
            } @else if (submitted && form.get('title')?.hasError("minlength") ||
            form.get('title')?.hasError("maxlength")) {
            <span class="text-danger">
              Título / Nome do curso deve conter pelo menos 3 caracteres e um
              máximo de 255 caracteres.
            </span>
            }
          </div>
        </div>

        <!-- Objectives -->
        <div class="col-sm-12">
          <div class="mb-3">
            <label for="objectives">Objetivos do curso</label>
            <textarea
              formControlName="objectives"
              class="form-control"
              rows="3"
              [class.is-invalid]="submitted && form.get('objectives')?.errors"
            ></textarea>
            @if (submitted && form.get('objectives')?.hasError("minlength") ||
            form.get('objectives')?.hasError("maxlength")) {
            <span class="text-danger">
              Objetivos do curso deve conter pelo menos 3 caracteres e um máximo
              de 510 caracteres.
            </span>
            }
          </div>
        </div>

        <!-- Destinators -->
        <div class="col-sm-12">
          <div class="mb-3">
            <label for="destinators">Destinatários</label>
            <p-multiselect
              [options]="DESTINATORS"
              formControlName="destinators"
              optionLabel="value"
              optionValue="value"
              placeholder="Selecione destinatários"
              [maxSelectedLabels]="3"
              class="w-100"
              [showClear]="true"
            />
          </div>
        </div>

        <!-- Area -->
        <div class="col-sm-12">
          <div class="mb-3">
            <label for="area">Área do curso</label>
            <input
              formControlName="area"
              type="text"
              class="form-control"
              [class.is-invalid]="submitted && form.get('area')?.errors"
            />
            @if (submitted && form.get('area')?.hasError("minlength") ||
            form.get('area')?.hasError("maxlength")) {
            <span class="text-danger">
              Área do curso deve conter pelo menos 3 caracteres e um máximo de
              55 caracteres.
            </span>
            }
          </div>
        </div>

        <!-- Total Duration -->
        <div class="col-sm-12">
          <div class="mb-3">
            <label for="totalDuration">
              Duração Total
              <span class="text-danger">*</span>
            </label>
            <input
              formControlName="totalDuration"
              type="number"
              step="0.1"
              class="form-control"
              [class.is-invalid]="
                submitted && form.get('totalDuration')?.errors
              "
            />
            <div
              *ngIf="submitted && form.get('totalDuration')?.errors"
              class="text-danger mt-1"
              style="font-size: 0.875em"
            >
              <span *ngIf="form.get('totalDuration')?.hasError('required')">
                A duração total é um campo obrigatório.
              </span>
              <span *ngIf="form.get('totalDuration')?.hasError('min')">
                O valor é muito baixo (mínimo: 0).
              </span>
              <span *ngIf="form.get('totalDuration')?.hasError('max')">
                O valor é muito alto (máximo: 1000).
              </span>
            </div>
          </div>
        </div>

        <!-- Status -->
        <div class="col-sm-6">
          <div class="mb-3">
            <label for="status">Estado</label>
            <p-select
              formControlName="status"
              [options]="STATUS"
              optionLabel="value"
              optionValue="value"
              styleClass="w-100"
            />
          </div>
        </div>

        <!-- Min Habilitation Level -->
        <div class="col-sm-6">
          <div class="mb-3">
            <label for="minHabilitationLevel">Nível Mín. Habilitações</label>
            <p-select
              formControlName="minHabilitationLevel"
              [options]="HABILITATIONS"
              optionLabel="value"
              optionValue="value"
              styleClass="w-100"
            />
          </div>
        </div>
      </div>
    </div>

    <app-error-card [errors]="errorMessages" [submitted]="submitted" />
    <!-- submit button -->
    <div class="text-end">
      <button type="button" class="btn-gray me-2" (click)="bsModalRef.hide()">
        Cancel
      </button>
      <button type="submit" class="btn-main" [disabled]="loading">
        @if (loading){
        <span class="spinner-border spinner-border-sm me-1"></span>
        } Save
      </button>
    </div>
  </form>
</div>
