@if (company$ | async; as company){
<app-title [title]="company.name" [isDropdown]="true" [menuItems]="menuItems" />

<!-- END TITLE + DROPDOWN MENU -->

<div class="container-fluid px-0 my-4">
  <div class="accordion" id="general-info-accordion">
    <!-- GENERAL INFO ACCORDION-->
    <div class="accordion-item">
      <h2 class="accordion-header" id="heading-general-info">
        <button
          class="accordion-button fw-bold collapsed"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#general-info-content"
          aria-expanded="false"
          aria-controls="general-info-content"
        >
          <i class="bi bi-buildings fs-4 me-3"></i>
          <h5>Informações Gerais</h5>
        </button>
      </h2>
      <div
        id="general-info-content"
        class="accordion-collapse collapse"
        aria-labelledby="heading-general-info"
      >
        <div class="accordion-body">
          <div class="container-fluid px-0">
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
              <div class="col">
                <div class="property">
                  <strong>Designação</strong>
                  <p class="text-break mb-0">
                    {{ company.name || "N/A" }}
                  </p>
                </div>
              </div>
              <div class="col">
                <div class="property">
                  <strong>Localidade</strong>
                  <p class="text-break mb-0">
                    {{ company.locality || "N/A" }}
                  </p>
                </div>
              </div>
              <div class="col">
                <div class="property">
                  <strong>Código Postal</strong>
                  <p class="text-break mb-0">
                    {{ company.zipCode || "N/A" }}
                  </p>
                </div>
              </div>
              <div class="col">
                <div class="property">
                  <strong>Email</strong>
                  <p class="text-break mb-0">
                    {{ company.email || "N/A" }}
                  </p>
                </div>
              </div>
              <div class="col">
                <div class="property">
                  <strong>Tel.</strong>
                  <p class="text-break mb-0">
                    {{ company.phoneNumber || "N/A" }}
                  </p>
                </div>
              </div>
              <div class="col">
                <div class="property">
                  <strong>Dimensão</strong>
                  <p class="text-break mb-0">
                    {{ company.size || "N/A" }}
                  </p>
                </div>
              </div>
              <div class="col">
                <div class="property">
                  <strong>Setor de Atividade</strong>
                  <p class="text-break mb-0">
                    {{ company.ativitySector || "N/A" }}
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- END GENERAL INFO ACCORDION -->

    <!-- GENERAL INFO ACCORDION-->
    @if(students$ |async; as students){ @if(students.length !== 0){
    <div class="accordion-item">
      <h2 class="accordion-header" id="heading-general-info">
        <button
          class="accordion-button fw-bold collapsed"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#company-students-accordion"
          aria-expanded="false"
          aria-controls="company-students-accordion"
        >
          <i class="bi bi-people fs-4 me-3"></i>
          <span class="badge bg-success"> {{ students.length }}x </span>
          <h5>Formandos</h5>
        </button>
      </h2>
      <div
        id="company-students-accordion"
        class="accordion-collapse collapse"
        aria-labelledby="heading-general-info"
      >
        <div class="accordion-body">
          <div class="container-fluid px-0">
            <app-students-table
              [students]="students"
              [loading]="false"
              [isCompanyPage]="true"
            />
          </div>
        </div>
      </div>
    </div>
    } }
  </div>
</div>
}
