@if (course$ | async; as course){

<app-title
  [title]="course.title"
  [isDropdown]="true"
  [menuItems]="menuItems"
  [showDropdown]="showMenu()"
/>
@if (kpis){
<app-kpi-row [kpis]="kpis" layout="scroll" />
}

<!-- MESSAGE FOR COURSE NOT COMPLETED-->
<app-message
  [show]="course.remainingDuration !== 0"
  severity="warn"
  description="O curso ainda tem {{ course.remainingDuration }} horas de
      {{ course.totalDuration }} horas sem serem ocupadas."
  [action]="addModuleAction"
/>
<!-- END MESSAGE FOR COURSE NOT COMPLETED-->

<div class="container-fluid px-0 my-4">
  <div class="accordion" id="general-info-accordion">
    <!-- FRAME INFO ACCORDION-->
    @if (frame$ | async; as frame) {
    <div class="accordion-item">
      <h2 class="accordion-header" id="heading-frame-info">
        <button
          class="accordion-button fw-bold collapsed"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#frame-info-content"
          aria-expanded="false"
          aria-controls="frame-info-content"
        >
          <app-icon [icon]="ICONS.frame" [marginEnd]="3" />
          <h5>Enquadramento</h5>
        </button>
      </h2>
      <div
        id="frame-info-content"
        class="accordion-collapse collapse"
        aria-labelledby="heading-frame-info"
      >
        <div class="accordion-body">
          <div class="container-fluid px-0">
            <div class="row g-3">
              <!-- Frame Program -->
              <div class="col-12">
                <div class="property">
                  <div class="bg-green-white fw-bold">Programa</div>
                  <p class="text-break mb-0">
                    {{ frame.program }}
                  </p>
                </div>
              </div>
              <!-- Frame Intervention -->
              <div class="col-md-4">
                <div class="property">
                  <div class="bg-green-white fw-bold">Intervention</div>
                  <p class="text-break mb-0">
                    {{ frame.intervention }}
                  </p>
                </div>
              </div>
              <!-- Frame Intervention Type -->
              <div class="col-md-8">
                <div class="property">
                  <div class="bg-green-white fw-bold">Tipo de Intervenção</div>
                  <p class="text-break mb-0">
                    {{ frame.interventionType }}
                  </p>
                </div>
              </div>
              <!-- Frame Operation -->
              <div class="col-md-4">
                <div class="property">
                  <div class="bg-green-white fw-bold">Operação</div>
                  <p class="text-break mb-0">
                    {{ frame.operation }}
                  </p>
                </div>
              </div>
              <!-- Frame Intervention Type -->
              <div class="col-md-8">
                <div class="property">
                  <div class="bg-green-white fw-bold">Tipo de Operação</div>
                  <p class="text-break mb-0">
                    {{ frame.operationType }}
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    }
    <!-- END FRAME INFO ACCORDION -->

    <!-- GENERAL INFO ACCORDION-->
    <div class="accordion-item">
      <h2 class="accordion-header" id="heading-general-info">
        <button
          class="accordion-button fw-bold collapsed"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#general-info-content"
          aria-expanded="false"
          aria-controls="general-info-content"
        >
          <app-icon [icon]="ICONS.info" [marginEnd]="3" />
          <h5>Informações do Curso</h5>
        </button>
      </h2>
      <div
        id="general-info-content"
        class="accordion-collapse collapse"
        aria-labelledby="heading-general-info"
      >
        <div class="accordion-body">
          <div class="container-fluid px-0">
            <div class="row g-3">
              <!-- Course Title -->
              <div class="col-12">
                <div class="property">
                  <div class="bg-green-white fw-bold">Título</div>
                  <p class="text-break mb-0">
                    {{ course.title }}
                  </p>
                </div>
              </div>
              <!-- Course MinLvl -->
              <div class="col-md-4 col-sm-6">
                <div class="property">
                  <div class="bg-green-white fw-bold">
                    Nível Min. Habilitações
                  </div>
                  <p class="text-break mb-0">
                    {{ course.minHabilitationLevel }}
                  </p>
                </div>
              </div>
              <!-- Course total duration -->
              <div class="col-md-4 col-sm-6">
                <div class="property">
                  <div class="bg-green-white fw-bold">Duração Total</div>
                  <p class="text-break mb-0">
                    {{ course.totalDuration - course.remainingDuration }} /
                    {{ course.totalDuration }}
                    h
                  </p>
                </div>
              </div>
              <!-- Course status -->
              <div class="col-md-4 col-sm-6">
                <div class="property">
                  <div class="bg-green-white fw-bold">Estado</div>
                  <p class="text-break mb-0">{{ course.status }}</p>
                </div>
              </div>
              <!-- Course Area -->
              <div class="col-12">
                <div class="property">
                  <div class="bg-green-white fw-bold">Área</div>
                  <p class="text-break mb-0">{{ course.area }}</p>
                </div>
              </div>
              <!-- Course Objectives -->
              <div class="col-12">
                <div class="property">
                  <div class="bg-green-white fw-bold">Objetivos</div>
                  <p class="text-break mb-0">{{ course.objectives }}</p>
                </div>
              </div>
              <!-- Course Destinators -->
              <div class="col-12">
                <div class="property">
                  <div class="bg-green-white fw-bold">Destinatários</div>
                  @for(dest of course.destinators; track dest) {
                  <p class="text-break mb-0">{{ dest }}</p>
                  }
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- END GENERAL INFO ACCORDION -->

    <!-- MODULES TABLE ACCORDION-->
    @if (course.modulesQnt !== 0) {
    <div class="accordion-item">
      <h2 class="accordion-header" id="heading-module-info">
        <button
          class="accordion-button fw-bold collapsed"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#module-info-content"
          aria-expanded="false"
          aria-controls="module-info-content"
        >
          <app-icon [icon]="ICONS.modules" [marginEnd]="3" />
          <h5>Módulos</h5>
          <span class="badge bg-success"> {{ course.modulesQnt }}x </span>
        </button>
      </h2>
      <div
        id="module-info-content"
        class="accordion-collapse collapse"
        aria-labelledby="heading-module-info"
      >
        <div class="accordion-body">
          <app-modules-table
            [modules]="(course$ | async)?.modules ?? []"
            [loading]="false"
          />
        </div>
      </div>
    </div>
    }
    <!-- END MODULES TABLE ACCORDION -->

    <!-- ACTIONS LIST ACCORDION-->
    @if (course.actionsQnt !== 0) {
    <div class="accordion-item">
      <h2 class="accordion-header" id="heading-actions">
        <button
          class="accordion-button fw-bold collapsed"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#actions-content"
          aria-expanded="false"
          aria-controls="actions-content"
        >
          <app-icon [icon]="ICONS.habilitation" [marginEnd]="3" />
          <h5>Ações Formação</h5>
          <span class="badge bg-success"
            >{{ (actions$ | async)?.length }}x</span
          >
        </button>
      </h2>
      <div
        id="actions-content"
        class="accordion-collapse collapse"
        aria-labelledby="heading-actions"
      >
        <div class="accordion-body">
          <app-actions-table
            [actions]="(actions$ | async) ?? []"
            [loading]="false"
          />
        </div>
      </div>
    </div>
    }
    <!-- END  LIST ACCORDION -->
  </div>
</div>
}
