<div class="card-table">
  <div class="card-header">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-12 col-sm-8">
          <h3 class="text-center text-md-start mb-3 mb-md-0">
            Gestão de Enquadramentos
          </h3>
        </div>
        <div class="col-12 col-sm-4 text-center text-md-end">
          <button class="btn-main" type="button" (click)="onCreateModal()">
            <app-icon [icon]="ICONS.add" [marginEnd]="1" />
            Registar Enquadramento
          </button>
        </div>
      </div>
    </div>
    <div class="card-body">
      <div class="container-fluid">
        <app-frames-table
          [frames]="(frames$ | async) ?? []"
          [loading]="(loading$ | async) ?? false"
        />
      </div>
    </div>
  </div>
</div>
