<div class="modal-header">
  <h4 class="modal-title">
    {{ isUpdate ? "Atualizar" : "Registar" }} Categoria de Módulo
  </h4>
  <button
    type="button"
    class="btn-close"
    aria-label="Close"
    (click)="bsModalRef.hide()"
  ></button>
</div>
<div class="modal-body">
  <form [formGroup]="form">
    <!-- form container -->
    <div class="row">
      <div class="col-md-12">
        <div class="mb-3">
          <label for="name"
            >Nome
            <span class="text-danger">*</span>
          </label>
          <input
            type="text"
            pInputText
            formControlName="name"
            [class.is-invalid]="submitted && form.get('name')?.errors"
            class="w-100 {{
              submitted && form.get('name')?.errors ? 'ng-invalid ng-dirty' : ''
            }}"
          />
          @if (submitted && form.get('name')?.hasError("required")) {
          <span class="text-danger"> Nome é um campo obrigatório. </span>
          } @else if ( form.get('name')?.hasError("minlength") ||
          form.get('name')?.hasError("maxlength")) {
          <span class="text-danger">
            Nome deve ter entre 3 e 155 caracteres.
          </span>
          }
        </div>
      </div>
      <div class="col-md-12">
        <div class="mb-3">
          <label for="shortenName"
            >Nome Curto
            <span class="text-danger">*</span>
          </label>
          <input
            type="text"
            pInputText
            formControlName="shortenName"
            [class.is-invalid]="submitted && form.get('shortenName')?.errors"
            class="w-100 {{
              submitted && form.get('shortenName')?.errors ? 'ng-invalid ng-dirty' : ''
            }}"
          />
          @if (submitted && form.get('shortenName')?.hasError("required")) {
          <span class="text-danger"> Nome Curto é um campo obrigatório. </span>
          } @else if ( form.get('shortenName')?.hasError("minlength") ||
          form.get('shortenName')?.hasError("maxlength")) {
          <span class="text-danger">
            Nome Curto deve ter entre 1 e 15 caracteres.
          </span>
          }
        </div>
      </div>
    </div>

    <app-error-card [errors]="errorMessages" [submitted]="submitted" />
  </form>
</div>
<div class="modal-footer">
  <!-- submit button -->
  <div class="text-end">
    <button type="button" class="btn-gray me-2" (click)="bsModalRef.hide()">
      Cancel
    </button>
    <button
      type="submit"
      class="btn-main"
      [disabled]="loading"
      (click)="onSubmit()"
    >
      @if (loading){
      <span class="spinner-border spinner-border-sm me-1"></span>
      } {{ isUpdate ? "Atualizar" : "Registar" }}
    </button>
  </div>
</div>
