:host {
  display: block;
  width: 100%;
  height: 100%;
}

.login-card {
  border-radius: 16px;
  overflow: hidden;
  max-width: 1000px;
  width: 100%;
}

.login-form {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.left-image {
  object-fit: contain;
  margin-bottom: 0px;
}

.right-image-container {
  position: relative;
  overflow: hidden;
  min-height: 400px;
}

.right-image {
  object-fit: cover;
  object-position: center;
}

/* Responsive adjustments */
@media (max-width: 767.98px) {
  .login-card {
    max-width: 500px;
  }

  .login-form {
    min-height: auto;
  }
}

@media (min-width: 768px) {
  .right-image-container {
    min-height: 600px;
  }
}

/* PrimeNG password field full width fix */
::ng-deep .p-password {
  width: 100%;
}

::ng-deep .p-password input {
  width: 100%;
}
