<div class="modal-header">
  <h4 class="modal-title">Registar Pessoa</h4>
  <button
    type="button"
    class="btn-close"
    aria-label="Close"
    (click)="bsModalRef.hide()"
  ></button>
</div>
<div class="modal-body">
  <form [formGroup]="registPersonForm" (ngSubmit)="onSubmit()">
    <div class="container">
      <div class="row">
        <!-- first name -->
        <div class="col-sm-6">
          <div class="mb-3">
            <label for="firstName"
              >Nome Próprio
              <span class="text-danger">*</span>
            </label>
            <input
              formControlName="firstName"
              type="firstName"
              class="form-control"
              [class.is-invalid]="
                submitted && registPersonForm.get('firstName')?.errors
              "
            />
            @if (submitted &&
            registPersonForm.get('firstName')?.hasError("required")) {
            <span class="text-danger">
              Nome Próprio é um campo obrigatório.
            </span>
            } @else if (submitted &&
            registPersonForm.get('firstName')?.hasError("minlength") ||
            registPersonForm.get('firstName')?.hasError("maxlength")) {
            <span class="text-danger">
              Nome Próprio deve ter entre 3 e 100 caracteres.
            </span>
            }
          </div>
        </div>
        <!-- end firstName -->

        <!-- last name -->
        <div class="col-sm-6">
          <div class="mb-3">
            <label for="lastName"
              >Último Nome
              <span class="text-danger">*</span>
            </label>
            <input
              formControlName="lastName"
              type="text"
              class="form-control"
              [class.is-invalid]="
                submitted && registPersonForm.get('lastName')?.errors
              "
            />
            @if (submitted &&
            registPersonForm.get('lastName')?.hasError("required")) {
            <span class="text-danger">
              Último Nome é um campo obrigatório.
            </span>
            } @else if (submitted &&
            registPersonForm.get('lastName')?.hasError("minlength") ||
            registPersonForm.get('lastName')?.hasError("maxlength")) {
            <span class="text-danger">
              Último Nome deve ter entre 3 e 100 caracteres.
            </span>
            }
          </div>
        </div>
        <!-- end last name -->

        <!-- NIF -->
        <div class="col-sm-6">
          <div class="mb-3">
            <label for="nif"
              >NIF
              <span class="text-danger">*</span>
            </label>
            <input
              formControlName="nif"
              type="text"
              class="form-control"
              [class.is-invalid]="
                submitted && registPersonForm.get('nif')?.errors
              "
            />
            @if (submitted && registPersonForm.get('nif')?.hasError("required"))
            {
            <span class="text-danger"> NIF é um campo obrigatório. </span>
            } @else if (submitted &&
            registPersonForm.get('nif')?.hasError("minlength") ||
            registPersonForm.get('nif')?.hasError("maxlength")) {
            <span class="text-danger">
              NIF deve ter extamente 9 caracteres.
            </span>
            }
          </div>
        </div>
        <!-- END NIF -->

        <!-- NISS -->
        <div class="col-sm-6">
          <div class="mb-3">
            <label for="niss">NISS</label>
            <input
              formControlName="niss"
              type="text"
              class="form-control"
              [class.is-invalid]="
                submitted && registPersonForm.get('niss')?.errors
              "
            />
            @if (submitted &&
            registPersonForm.get('niss')?.hasError("required")) {
            <span class="text-danger"> NISS é um campo obrigatório. </span>
            } @else if (submitted &&
            registPersonForm.get('niss')?.hasError("minlength") ||
            registPersonForm.get('niss')?.hasError("maxlength")) {
            <span class="text-danger">
              NISS deve ter extamente 11 caracteres.
            </span>
            }
          </div>
        </div>
        <!-- END NISS -->

        <!-- Numero de Identificação -->
        <div class="col-sm-12">
          <div class="mb-3">
            <label for="identificationNumber">Número de Identificação </label>
            <input
              formControlName="identificationNumber"
              type="text"
              class="form-control"
              [class.is-invalid]="
                submitted &&
                registPersonForm.get('identificationNumber')?.errors
              "
            />
            @if (submitted &&
            registPersonForm.get('identificationNumber')?.hasError("required"))
            {
            <span class="text-danger">
              Número de Identificação é um campo obrigatório.
            </span>
            } @else if (submitted &&
            registPersonForm.get('identificationNumber')?.hasError("minlength")
            ||
            registPersonForm.get('identificationNumber')?.hasError("maxlength"))
            {
            <span class="text-danger">
              Número de Identificação entre 5 e 10 caracteres.
            </span>
            }
          </div>
        </div>
        <!-- END Numero de Identificação -->

        <!-- Identification Type -->
        <div class="col-sm-6">
          <div class="mb-3">
            <label for="identificationType">Tipo de Identificação</label>
            <select
              formControlName="identificationType"
              class="form-control"
              [class.is-invalid]="
                submitted && registPersonForm.get('identificationType')?.errors
              "
            >
              <option active value="Não Especificado">Não Especificado</option>
              @for (type of allIdentificationTypes; track type.key){
              <option value="{{ type.value }}">{{ type.value }}</option>
              }
            </select>
            @if (submitted &&
            registPersonForm.get('identificationType')?.hasError("required")) {
            <span class="text-danger">
              Tipo de Identificação é um campo obrigatório.
            </span>
            }
          </div>
        </div>
        <!-- END Identification Type -->

        <!-- Identification Validation Date -->
        <div class="col-sm-6">
          <div class="mb-3">
            <label for="identificationValidationDate">Data Validação NI</label>
            <input
              formControlName="identificationValidationDate"
              type="date"
              class="form-control"
              [class.is-invalid]="
                submitted &&
                registPersonForm.get('identificationValidationDate')?.errors
              "
            />
            @if (submitted &&
            registPersonForm.get('identificationValidationDate')?.hasError("required"))
            {
            <span class="text-danger">
              Data de Validação do Documento é um campo obrigatório.
            </span>
            }
          </div>
        </div>
        <!-- END Identification Validation Date -->

        <!-- IBAN -->
        <div class="col-sm-12">
          <div class="mb-3">
            <label for="iban">IBAN</label>
            <input
              formControlName="iban"
              type="text"
              class="form-control"
              [class.is-invalid]="
                submitted && registPersonForm.get('iban')?.errors
              "
            />
            @if (submitted &&
            registPersonForm.get('iban')?.hasError("required")) {
            <span class="text-danger"> IBAN é um campo obrigatório. </span>
            } @else if (submitted &&
            registPersonForm.get('iban')?.hasError("minlength") ||
            registPersonForm.get('iban')?.hasError("maxlength")) {
            <span class="text-danger">
              IBAN deve ter extamente 25 caracteres.
            </span>
            }
          </div>
        </div>
        <!-- END IBAN -->

        <!-- Address -->
        <div class="col-sm-12">
          <div class="mb-3">
            <label for="address">Morada</label>
            <textarea
              formControlName="address"
              rows="3"
              type="text"
              class="form-control"
              [class.is-invalid]="
                submitted && registPersonForm.get('address')?.errors
              "
            ></textarea>
            @if (submitted &&
            registPersonForm.get('address')?.hasError("required")) {
            <span class="text-danger"> Morada é um campo obrigatório. </span>
            }
          </div>
        </div>
        <!-- END Address -->

        <!-- Postal Code -->
        <div class="col-sm-6">
          <div class="mb-3">
            <label for="postalCode">Código Postal</label>
            <input
              formControlName="postalCode"
              type="text"
              class="form-control"
              [class.is-invalid]="
                submitted && registPersonForm.get('postalCode')?.errors
              "
            />
            @if (submitted &&
            registPersonForm.get('postalCode')?.hasError("required")) {
            <span class="text-danger">
              Código Postal é um campo obrigatório.
            </span>
            } @else if (submitted &&
            registPersonForm.get('postalCode')?.hasError("minlength") ||
            registPersonForm.get('postalCode')?.hasError("maxlength")) {
            <span class="text-danger">
              Código Postal deve ter extamente 8 caracteres.
            </span>
            }
          </div>
        </div>
        <!-- END Postal Code -->

        <!-- Birth Date -->
        <div class="col-sm-6">
          <div class="mb-3">
            <label for="birthDate">Data de Nascimento</label>
            <input
              formControlName="birthDate"
              type="date"
              class="form-control"
              [class.is-invalid]="
                submitted && registPersonForm.get('birthDate')?.errors
              "
            />
            @if (submitted &&
            registPersonForm.get('birthDate')?.hasError("required")) {
            <span class="text-danger">
              Data de Nascimento é um campo obrigatório.
            </span>
            }
          </div>
        </div>
        <!-- END Birth Date -->

        <!-- Phone Number -->
        <div class="col-sm-6">
          <div class="mb-3">
            <label for="phoneNumber">Número de Telefone</label>
            <input
              formControlName="phoneNumber"
              type="tel"
              class="form-control"
              [class.is-invalid]="
                submitted && registPersonForm.get('phoneNumber')?.errors
              "
            />
            @if (submitted &&
            registPersonForm.get('phoneNumber')?.hasError("required")) {
            <span class="text-danger">
              Número de Telefone é um campo obrigatório.
            </span>
            } @else if (submitted &&
            registPersonForm.get('phoneNumber')?.hasError("minlength") ||
            registPersonForm.get('phoneNumber')?.hasError("maxlength")) {
            <span class="text-danger">
              Número de Telefone deve ter extamente 9 caracteres.
            </span>
            }
          </div>
        </div>
        <!-- END Phone Number -->

        <!-- Email -->
        <div class="col-sm-6">
          <div class="mb-3">
            <label for="email">Email</label>
            <input
              formControlName="email"
              type="email"
              class="form-control"
              [class.is-invalid]="
                submitted && registPersonForm.get('email')?.errors
              "
            />
            @if (submitted &&
            registPersonForm.get('email')?.hasError("required")) {
            <span class="text-danger"> Email é um campo obrigatório. </span>
            } @else if (submitted &&
            registPersonForm.get('email')?.hasError("email")) {
            <span class="text-danger"> Por favor insira um email válido. </span>
            } @else if (submitted &&
            (registPersonForm.get('email')?.hasError("minlength") ||
            registPersonForm.get('email')?.hasError("maxlength"))) {
            <span class="text-danger">
              Email deve ter entre 5 e 50 caracteres.
            </span>
            }
          </div>
        </div>
        <!-- END Email -->

        <!-- Naturality -->
        <div class="col-sm-6">
          <div class="mb-3">
            <label for="naturality">Naturalidade</label>
            <input
              formControlName="naturality"
              type="text"
              class="form-control"
              [class.is-invalid]="
                submitted && registPersonForm.get('naturality')?.errors
              "
            />
            @if (submitted &&
            registPersonForm.get('naturality')?.hasError("required")) {
            <span class="text-danger">
              Naturalidade é um campo obrigatório.
            </span>
            } @else if (submitted &&
            (registPersonForm.get('naturality')?.hasError("minlength") ||
            registPersonForm.get('naturality')?.hasError("maxlength"))) {
            <span class="text-danger">
              Naturalidade deve ter entre 3 e 100 caracteres.
            </span>
            }
          </div>
        </div>
        <!-- END Naturality -->

        <!-- Nationality -->
        <div class="col-sm-6">
          <div class="mb-3">
            <label for="nationality">Nacionalidade</label>
            <input
              formControlName="nationality"
              type="text"
              class="form-control"
              [typeahead]="allCountries"
              [typeaheadMinLength]="0"
              typeaheadOptionField="gentilico"
              [typeaheadScrollable]="true"
              [typeaheadOptionsLimit]="8"
              [class.is-invalid]="
                submitted && registPersonForm.get('nationality')?.errors
              "
            />
            @if (submitted &&
            registPersonForm.get('nationality')?.hasError("required")) {
            <span class="text-danger">
              Nacionalidade é um campo obrigatório.
            </span>
            } @else if (submitted &&
            (registPersonForm.get('nationality')?.hasError("minlength") ||
            registPersonForm.get('nationality')?.hasError("maxlength"))) {
            <span class="text-danger">
              Nacionalidade deve ter entre 3 e 100 caracteres.
            </span>
            }
          </div>
        </div>
        <!-- END Nationality -->

        <!-- Gender -->
        <div class="col-sm-6">
          <div class="mb-3">
            <label for="genero">Gênero</label>
            <select
              formControlName="genero"
              class="form-control"
              [class.is-invalid]="
                submitted && registPersonForm.get('genero')?.errors
              "
            >
              <option active value="Não Especificado">Não Especificado</option>
              <option value="Masculino">Masculino</option>
              <option value="Feminino">Feminino</option>
              <option value="Outro">Outro</option>
            </select>
            @if (submitted &&
            registPersonForm.get('genero')?.hasError("required")) {
            <span class="text-danger"> Gênero é um campo obrigatório. </span>
            }
          </div>
        </div>
        <!-- END Gender -->

        <!-- Habilitation -->
        <div class="col-sm-6">
          <div class="mb-3">
            <label for="habilitation">Habilitação</label>
            <select
              formControlName="habilitation"
              class="form-control"
              [class.is-invalid]="
                submitted && registPersonForm.get('habilitation')?.errors
              "
            >
              @for(habilitation of allHabilitations; track habilitation.value){
              <option value="{{ habilitation.value }}">
                {{ habilitation.value }}
              </option>
              }
            </select>
            @if (submitted &&
            registPersonForm.get('habilitation')?.hasError("required")) {
            <span class="text-danger">
              Habilitação é um campo obrigatório.
            </span>
            }
          </div>
        </div>
        <!-- END Habilitation -->
      </div>
    </div>

    <app-error-card [errors]="errorMessages" [submitted]="submitted" />
    <!-- submit button -->
    <div class="text-end">
      <button type="button" class="btn-gray me-2" (click)="bsModalRef.hide()">
        Cancel
      </button>
      <button type="submit" class="btn-main" [disabled]="loading">
        @if (loading){
        <span class="spinner-border spinner-border-sm me-1"></span>
        } Save
      </button>
    </div>
  </form>
</div>
