<p-table
  #dt
  stripedRows
  [value]="courses"
  size="small"
  [tableStyle]="{ 'min-width': '60rem' }"
  [globalFilterFields]="['title', 'minHabilitationLevel']"
  [paginator]="true"
  [rows]="10"
  currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
  (onPage)="pageChange($event)"
  [rowsPerPageOptions]="[10, 25, 50]"
>
  <ng-template #caption>
    <div class="d-flex justify-content-end gap-2">
      <p-iconfield iconPosition="left">
        <p-inputicon>
          <i class="pi pi-search"></i>
        </p-inputicon>
        <input
          [(ngModel)]="searchValue"
          (ngModelChange)="dt.filterGlobal($event, 'contains')"
          pInputText
          type="text"
          placeholder="Procurar..."
        />
      </p-iconfield>
      <p-button
        icon="pi pi-filter-slash"
        [outlined]="true"
        (click)="clearFilters()"
      />
    </div>
  </ng-template>
  <ng-template #header>
    <tr>
      <th [width]="20">#</th>
      <th pSortableColumn="title">
        <div class="flex items-center gap-2">
          Título
          <p-sortIcon field="title" />
        </div>
      </th>
      <th pSortableColumn="minHabilitationLevel" style="width: 20%">
        <div class="flex items-center gap-2">
          Nível Min. Hab.
          <p-sortIcon field="minHabilitationLevel" />
        </div>
      </th>
      <th pSortableColumn="totalDuration" style="width: 15%">
        <div class="flex items-center gap-2">
          Duração
          <p-sortIcon field="totalDuration" />
        </div>
      </th>
      <th pSortableColumn="status" style="width: 15%">
        <div class="flex items-center gap-2">
          Estado
          <p-sortIcon field="status" />
        </div>
      </th>
    </tr>
  </ng-template>
  <ng-template #body let-course>
    <tr>
      <td>
        <p-menu #menu [model]="menuItems" [popup]="true" [appendTo]="'body'" />
        <p-button
          icon="pi pi-ellipsis-v"
          [rounded]="true"
          severity="secondary"
          [outlined]="true"
          (click)="menu.toggle($event); selectedCourse = course"
        />
      </td>
      <td>
        <app-icon-anchor
          [field]="course.title"
          [display]="course.title | truncate : 40"
          [link]="'/courses/' + course.id"
          [icon]="'pi pi-link'"
        />
      </td>
      <td>
        <p-tag [value]="course.minHabilitationLevel" severity="secondary" />
      </td>

      <td>
        <div class="progress-container">
          <p-progressBar
            [value]="getProgressPercentage(course)"
            [showValue]="true"
            [color]="getProgressBarClass(course)"
          />
        </div>
      </td>
      <td>
        <p-tag
          icon="{{ getStatusIcon(course.status) }}"
          [value]="course.status"
          [severity]="getStatusSeverity(course.status)"
        />
      </td>
    </tr>
  </ng-template>
  <ng-template #emptymessage>
    <tr>
      <td colspan="5">Não foram encontrados cursos com essas diretrizes.</td>
    </tr>
  </ng-template>
</p-table>
