<div class="modal-header">
  <h4 class="modal-title">Editar Enquadramento</h4>
  <button
    type="button"
    class="btn-close"
    (click)="bsModalRef.hide()"
    aria-label="Close"
  ></button>
</div>

<div class="modal-body">
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="mb-3">
      <label for="program"
        >Program
        <span class="text-danger">*</span>
      </label>
      <input
        type="text"
        class="form-control"
        id="program"
        formControlName="program"
        [class.is-invalid]="submitted && form.controls['program'].invalid"
      />
      <div
        *ngIf="submitted && form.controls['program'].invalid"
        class="invalid-feedback"
      >
        Program is required
      </div>
    </div>

    <div class="mb-3">
      <label for="intervention"
        >Intervention
        <span class="text-danger">*</span>
      </label>
      <input
        type="text"
        class="form-control"
        id="intervention"
        formControlName="intervention"
        [class.is-invalid]="submitted && form.controls['intervention'].invalid"
      />
      <div
        *ngIf="submitted && form.controls['intervention'].invalid"
        class="invalid-feedback"
      >
        Intervention is required
      </div>
    </div>

    <div class="mb-3">
      <label for="interventionType"
        >Intervention Type
        <span class="text-danger">*</span>
      </label>
      <input
        type="text"
        class="form-control"
        id="interventionType"
        formControlName="interventionType"
        [class.is-invalid]="
          submitted && form.controls['interventionType'].invalid
        "
      />
      <div
        *ngIf="submitted && form.controls['interventionType'].invalid"
        class="invalid-feedback"
      >
        Intervention Type is required
      </div>
    </div>

    <div class="mb-3">
      <label for="operation"
        >Operation
        <span class="text-danger">*</span>
      </label>
      <input
        type="text"
        class="form-control"
        id="operation"
        formControlName="operation"
        [class.is-invalid]="submitted && form.controls['operation'].invalid"
      />
      <div
        *ngIf="submitted && form.controls['operation'].invalid"
        class="invalid-feedback"
      >
        Operation is required
      </div>
    </div>

    <div class="mb-3">
      <label for="operationType"
        >Operation Type
        <span class="text-danger">*</span>
      </label>
      <input
        type="text"
        class="form-control"
        id="operationType"
        formControlName="operationType"
        [class.is-invalid]="submitted && form.controls['operationType'].invalid"
      />
      <div
        *ngIf="submitted && form.controls['operationType'].invalid"
        class="invalid-feedback"
      >
        Operation Type is required
      </div>
    </div>
    <app-error-card [errors]="errorMessages" [submitted]="submitted" />
    <div class="text-end">
      <button type="button" class="btn-gray me-2" (click)="bsModalRef.hide()">
        Cancelar
      </button>
      <button type="submit" class="btn-main">
        @if (loading) {
        <span class="spinner-border spinner-border-sm me-1"></span>
        } Submeter
      </button>
    </div>
  </form>
</div>
