<div [ngClass]="{ 'login-page': isLoginPage }" class="app-wrapper">
  @if (isLoginPage) {
  <ng-container>
    <router-outlet></router-outlet>
  </ng-container>
  } @else {
  <ng-container>
    <div class="d-flex w-100">
      @if (user$ | async;) {
      <app-sidebar />
      }
      <main class="wrapper w-100">
        <app-navbar />
        <div class="page-container">
          <div class="container-md pt-4">
            <router-outlet></router-outlet>
          </div>
        </div>
      </main>
    </div>
  </ng-container>
  }
  <app-alerts />
</div>
