<div [ngClass]="{ 'login-page': isLoginPage }" class="app-wrapper">
  @if (isLoginPage) {
  <ng-container>
    <router-outlet></router-outlet>
  </ng-container>
  } @else {
  <ng-container>
    <div class="d-flex">
      @if (user$ | async;) {
      <app-sidebar />
      }
      <main class="wrapper w-100">
        <app-navbar />
        <div
          class="container-fluid pt-4"
          style="height: 100vh; overflow-y: auto"
        >
          <router-outlet></router-outlet>
        </div>
      </main>
    </div>
  </ng-container>
  }
  <app-alerts />
</div>
